.rk-btn {
	position: relative;
	overflow: hidden;
	.rk-load {
		position: absolute !important;
		opacity: 0;
		top: -999px;
	}
	&.rk-btn-loading {
		.rk-load {
			position: relative !important;
			opacity: 1;
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px !important;
			top: -2px;
		}
	}
	&.rk-btn-sent {
		background-color: $roxo-i;
		color: $quase-branco-i;
	}
}

.rk-notification-status {
	font-weight: bold;
	font-size: 12px;
	font-style: italic;
	&.rk-notification-status-success {
		color: $verde;
	}
	&.rk-notification-status-error {
		color: $verm;
	}
}